/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h2{ 
    font-size: 40px;
    margin: 20px 0 10px 0px;
}

/* ------------------- HEADER ------------------------------- */

.navbar-dark {
    background-color: rgb(44, 62, 80);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* ------------------- MAIN ------------------------------- */


/* Sezione generica */
.line {
    width: 70px;
    height: 5px;
    border-radius: 20px;
    display:inline-block;
}

.fa-solid {
    font-size: 20px;
}

.col-12 {
    text-align: center;
    margin-bottom: 20px;
}



/* Sezione container white */

.white {
    margin-bottom:50px
}

.white .line{
    background-color: black;
}

.white .fa-solid{ 
    color: black;
}


/* Sezione form */

.lineF {
    width: calc(100% - 15px);
    height: 2px;
    border-radius: 20px;
    background-color: rgb(204, 204, 204);
    margin-left: 15px;
}

.form-control {
    border: none;
}

.form-control::placeholder {
    color: black;
}

 .white .submit{
    text-decoration: none;
    border: 2px solid white;
    background-color: rgb(26, 188, 156);
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    margin: 10px 0px 0px 15px;
}


/* Sezione container green */

.Logo1 {
    width:20%;
}

.Logo2 {
    width:100%;
    border-radius: 15px;
}

.background-green {
    background-color: rgb(26, 188, 156);
    width:100%;
    min-height: 400px;
}

.background-green h2, p, a, .fa-solid{ 
    color: white;
}

.background-green .line {
    background-color: white;
}

.background-green a{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 30px 10px 30px;
}

.background-green a:hover, .background-green a:hover .fa-download{
    color: black;
}

.background-green .col {
    text-align: center;
}

.background-green h7 {
    display: block;
    margin: 20px 0px 20px 0px;
    font-size:20px;
}

/* Sezione container blue */
.background-blue {
    background-color: rgb(58, 84, 109);
    width:100%;
}

.background-blue h4, h7{ 
    color: white;
    font-weight: bold;
}

.background-blue .fa-brands{ 
    color: white;
    font-size: 30px;
}

.background-blue .col .Content{
    text-align: center;
    margin-top:70px;
}

.background-blue a{
    text-decoration: none;
    color: rgb(26, 188, 156);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.background-blue a:hover{
    color: black;
}

/* ------------------- FOOTER ------------------------------- */

