/*  Stili generali di pagina */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h2{ 
    color: white;
    font-size: 40px;
    margin-bottom: 40px;
}

/* ------------------- HEADER ------------------------------- */
.background-head {
    background-color: rgb(44, 62, 80);
    min-height: 100px;
}



/* ------------------- MAIN ------------------------------- */

.background-main {
    background-color: rgb(26, 188, 156);
    min-height: 400px;
}

.fa-solid {
    color: white;
    position: absolute;
    top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-size: 20px;
}

.line {
    background-color: white;
    width: 150px;
    height: 5px;
    border-radius: 20px;
    position: absolute;
    top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.col-12 {
    text-align: center;
    position: relative;
}

.col img {
    width:100%;
}
/* ------------------- FOOTER ------------------------------- */

